@model Herramientas_Pro.Models.Productos

@{
    ViewData["Title"] = "Edit";
}
    
    
<h1>Editar</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Producto" class="control-label"></label>
                <input asp-for="Producto" class="form-control" />
                <span asp-validation-for="Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo_Producto" class="control-label"></label>
                <input asp-for="Codigo_Producto" class="form-control" />
                <span asp-validation-for="Codigo_Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad_Minima" class="control-label"></label>
                <input id="Cantidad_Minima" asp-for="Cantidad_Minima" class="form-control" type="number" step="1" />
                <span asp-validation-for="Cantidad_Minima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidad" class="control-label"></label>
                <input asp-for="Unidad" class="form-control" />
                <span asp-validation-for="Unidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coste_Unidad" class="control-label"></label>
                <input asp-for="Coste_Unidad" class="form-control" type="number" />
                <span asp-validation-for="Coste_Unidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
