@model Herramientas_Pro.Models.Pedidos

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Pedidos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Presupuestos" class="control-label"></label>
                <input asp-for="Presupuestos" class="form-control" />
                <span asp-validation-for="Presupuestos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicion" class="control-label"></label>
                <input asp-for="Medicion" class="form-control" />
                <span asp-validation-for="Medicion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Nube_Puntos" /> @Html.DisplayNameFor(model => model.Nube_Puntos)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diseño_Inicial" class="control-label"></label>
                <input asp-for="Diseño_Inicial" class="form-control" />
                <span asp-validation-for="Diseño_Inicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fimra" class="control-label"></label>
                <input asp-for="Fimra" class="form-control" />
                <span asp-validation-for="Fimra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otros" class="control-label"></label>
                <input asp-for="Otros" class="form-control" />
                <span asp-validation-for="Otros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsable" class="control-label"></label>
                <input asp-for="Responsable" class="form-control" />
                <span asp-validation-for="Responsable" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
