@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @User.Identity.Name</h1>
    <p>Por favor, contacta con el administrador si te faltan permisos para realizar alguna acción.</p>
</div>
